Repository rishim777/RMS-FORGE: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write, stylelint --fix

feat: added forge
  package.json
  packages/forge/README.md
  packages/forge/package.json
  packages/forge/src/index.ts
  packages/utils/package.json
  pnpm-lock.yaml
  stories/package.json
Due: eslint --fix --cache, prettier --write

feat: removed restricted access
  .npmrc
  packages/forge/package.json
  packages/text/package.json
  packages/utils/package.json
Due: prettier --write

fix: neccessary changes
  README.md
  package.json
  packages/design-tokens/Text.module.scss
  packages/text/package.json
  packages/text/src/Text.tsx
  packages/text/src/types.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write, stylelint --fix

fix: changed package version
  package.json
Due: prettier --write

chore: to publish the package using changeset with public access
  .npmrc
Due: none

chore: to publish the package using changeset with public access
  .changeset/clever-squids-whisper.md
  .changeset/config.json
  .changeset/wet-pets-behave.md
  .npmrc
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: edited package.json files
  .npmrc
  package.json
  packages/design-tokens/package.json
  packages/forge/package.json
  packages/text/README.md
  packages/text/package.json
  packages/utils/package.json
Due: prettier --write

fix: modified file
  .changeset/config.json
  .github/workflows/release.yml
  .npmrc
Due: prettier --write

chore: modified workflow:
  .github/workflows/release.yml
Due: none

chore: modified script
  package.json
Due: prettier --write

chore: try
  README.md
  package.json
Due: prettier --write

feat: changed the owner name from @rms to @rishim777 to resolve publish error
  .npmrc
  README.md
  package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/README.md
  packages/design-tokens/package.json
  packages/forge/CHANGELOG.md
  packages/forge/README.md
  packages/forge/package.json
  packages/forge/src/index.ts
  packages/text/CHANGELOG.md
  packages/text/package.json
  packages/text/src/index.ts
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/utils/parcel.d.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/scaffolds/component-starter-code.mjs
  scripts/scaffolds/package.config.mjs
  stories/package.json
  stories/packages/design-tokens/Colors.mdx
  stories/packages/design-tokens/ResponsiveBreakpoints.mdx
  tsconfig.json
Due: eslint --fix --cache, prettier --write

chore: required changes
  README.md
  package.json
  packages/.npmrc
  packages/package.json
  packages/text/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: required changes
  pnpm-lock.yaml
Due: none

chore: try
  packages/.npmrc
  packages/package.json
Due: prettier --write

chore: try
  packages/package.json
Due: prettier --write

chore: always provide github_token value
  packages/.npmrc
  packages/package.json
Due: prettier --write

chore: try
  README.md
  packages/.npmrc
Due: prettier --write

fix: not required to push stories package
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Path conditions:
  eslint --fix --cache: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,md,mdx,css,scss}) or (any of: *.json)
  stylelint --fix: any of: **/*.{css,scss}
